services:
  app:
    build:
      context: .
      target: base
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: npm run dev -- --host
    environment:
      - CHOKIDAR_USEPOLLING=true
